<div class="card border-0 col-12 mt-2 bg-light">
    <div class="card-body bg-light">
        <div>
            <h2 class="fs-5">{{ post.subtitle }}</h2>
            <a href="{{ post.get_absolute_url }}" class="text-decoration-none my-link-color link-dark ">
                <h1 class="fs-4 fw-bold">{{ post.title }}</h1>
            </a>
        </div>
        <div class="text-muted small mb-2">
            {{ post.created_at|date:"d.m.Y" }}&nbsp;&nbsp;<span>{{ post.tag|title }}</span>
        </div>
        <div>
            <p>
                {{ post.teaser }}
            </p>
        </div>
    </div>
</div>